.container {
  background-color: #13151a;
  padding-top: 4rem;
  margin-bottom: 5rem;
}

.wrapper {
  max-width: 900px;
}

.divider {
  width: 60px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 1rem auto 4rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: inherit;
  font-weight: 400;
  max-width: 660px;
  text-align: center;
  margin: 0 auto 3rem;
  word-spacing: 0.1rem;
  color: #e9eaeb;
}

.cards {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  margin-bottom: 5rem;

  .card {
    letter-spacing: .01rem;
    list-style: none;
    background: #1d1f27;
    border-radius: 24px;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 16px rgba(0, 0, 0, .02);

    .image {
      width: 100%;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }

    .text_container {
      padding: 0.8rem;

      h3 {
        text-align: center;
        color: #c5c8dc;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }
}


.icon {
  width: 28px;
  bottom: -8px;
  position: relative;
}

.finish_text {
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto 3rem;
  max-width: 660px;
}
