.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.icon {
  width: 46px;
  height: 46px;
}

.btn {
  width: 110px;
  height: 110px;
  border: none;
  border-radius: 24px;
  background: #1d1f27;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 16px #00000005;
  color: #e9eaeb;
  cursor: pointer;
  font-size: 0.84rem;
  font-weight: 600;
  align-self: center;
  transition: background 0.4s;

  &:hover {
    background: #282a35;
  }
}




