.container {
    min-height: 100vh;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title_container {
        margin: auto;

        .title {
            font-size: calc(calc(1vw + 1vh) * 4);
            font-weight: 500;
            text-align: center;
            color: #c5c8dc;
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    .description {
        font-size: calc(calc(1vw + 1vh) * 1.6);
        text-align: center;
        margin-bottom: 2rem;
        color: #e9eaeb;
    }

    .assessment_container {
        display: flex;
        justify-content: center;
    }
}




