.text {
  text-align: center;
  color: #c5c8dc;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
}

.btn_container {
  display: flex;
  justify-content: center;
  width: 100%;

  .btn {
    width: 100%;
    height: 42px;
    background: linear-gradient(180deg, #ffb800, #ff8a00);
    border: 1px solid #ffb800;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 24px;
    transition: background .5s;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: .1rem;
    white-space: nowrap;

    &:hover {
      background: linear-gradient(180deg, #f0ad03, #f38304);
      transition: background .5s;
    }
  }
}
