.container {
    min-height: 100vh;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        font-size: calc(calc(1vw + 1vh) * 4);
        font-weight: 500;
        text-align: center;
        color: #c5c8dc;
        line-height: 1;
        margin-bottom: 1rem;
    }

    .description {
        font-size: calc(calc(1vw + 1vh) * 1.6);
        text-align: center;
        margin-bottom: 5rem;
    }

    .assessment_container {
        display: flex;
        justify-content: center;
    }
}

.wrapper {
    max-width: 900px;
}

.text_container {
    margin-bottom: 8rem;

    .text {
        font-size: 1.1rem;
        line-height: 1.6;
        font-family: inherit;
        font-weight: 400;
        max-width: 660px;
        text-align: center;
        margin: 0 auto 3rem;
        word-spacing: 0.1rem;
        color: #e9eaeb;
    }
}


